[Desktop Entry]
Version=1.0
Type=Application

Name=Luca
Comment=A smart companion calculator
Categories=Science;

Icon=pro.lasne.luca
Exec=luca
Terminal=false
